.header__wrapper {
  background-color: #374149;
  color: #374149;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  overflow: hidden;
}

.header__logo {
  margin-left: 48px;
}

.header__search {
  display: flex;
  align-items: center;
  background-color: #374149;
  height: 39px;
  padding: 10px;
}

.header__search input {
  border: none;
  width: 375px;
  margin-left: 5px;
  margin-right: 10px;
  background-color: rgb(55, 65, 73);
  color: white;
}

.header__search input:focus {
  outline: none;
}

.header__menuItems {
  margin-right: 48px;
  display: flex;
  gap: 10px;
}

.header__menuItems a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.header__menuItems a:hover,
.header__menuItems a:active {
  color: #374149;
}

.header__menuItems a:first-of-type {
  color: #374149;
}