.App {
  height: 100vh;
  overflow: hidden; /* Prevent scrollbars from appearing */
}

.App .Home {
  height: 100%;
  flex-grow: 1;
  background-color: #1E272E;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  overflow: hidden
}

.App .Home .box {
  flex-basis: calc(50% - 60px);
  height: calc(50vh - 40px);
  background-color: #374149;
  border-radius: 10px;
  margin: 10px;
}