.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .login input[type="submit"] {
    cursor: pointer;
  }