.signup-form {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: auto;
}

.signup-form label {
    margin-bottom: 10px;
}

.signup-form input[type="text"], .signup-form input[type="email"] {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.signup-form input[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.signup-form input[type="submit"]:hover {
    background-color: #45a049;
}